.benefits {
	margin-bottom: 123px;
	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 42px;
	}

	&__list {

	}

	&__item {
		display: inline-block;
		vertical-align: top;
		margin-right: 22px - 4px;
		margin-bottom: 49px;
		width: calc(~"(100% - 22px * 3) / 4");
		padding: 14px 0 0 0;
		&:nth-child(4n) {
			margin-right: -4px;
		}
		&_circle {
			padding: 41px 0 0 35px;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 180px;
				height: 180px;
				background-color: #fbeb96;
				border-radius: 50%;
			}
		}
	}
	&__item-bold {
		color: #111;
		font-size: 18px;
		.bold();
		margin-bottom: 10px;
		line-height: 30px;

	}
	&__item-text {
		color: #111;
		font-size: 16px;
		.regular();
		line-height: 24px;

		.benefits__item_circle & {
			position: relative;
		}
	}
	&__item-help {
		display: inline-block;
		border-radius: 50%;
		cursor: pointer;
		width: 12px;
		height: 12px;
		background-color: rgba(0, 67, 187, 0.15);
		text-align: center;
		line-height: 12px;

		color: #04b;
		font-size: 9px;
		.bold();
	}
	&__highlighted {
		background-color: #fbeb96;
		padding-top: 7px;
		padding-bottom: 3px;
	}
	&__item-title {
		position: relative;
		color: #222;
		font-size: 34px;
		.bold();
		margin-bottom: 12px;
	}
}

@media screen and (max-width: 900px) {
	.benefits {
		&__item {
			width: calc(~"(100% - 22px) / 2");
			&:nth-child(4n) {
				margin-right: 22px - 4px;
			}
			&:nth-child(2n) {
				margin-right: -4px;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.benefits {
		&__title {
			font-size: 40px;
		}
		&__item {
			display: block;
			width: 100%;
			margin-right: 0;
			&:nth-child(4n) {
				margin-right: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}