.clients-block {
	margin-bottom: 143px - 59px;
	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 36px;
	}
	&__intro {
		color: #111;
		font-size: 34px;
		.light();
		margin-bottom: 56px;
	}
	&__intro-bold {
		.bold();
	}

	&__list {

	}
	&__item {
		width: calc(~"(100% - 20px * 5) / 6");
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 59px;
		text-align: center;
		margin-right: 20px - 4px;
		&:nth-child(6n) {
			margin-right: -4px;
		}
	}
	&__item-img {
		max-width: 100%;
		&_2x {
			display: none;
		}
	}
}

@media screen and (max-width: 770px) {
	.clients-block {
		&__intro {
			font-size: 24px;
		}
		&__item {
			max-width: 300px;
			text-align: left;
			margin-right: 0;
			display: block;
			width: auto;
			&:nth-child(6n) {
				margin-right: 0;
			}
		}
		&__item-img {
			max-width: 80%;
			&_2x {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.clients-block {
		&__intro {
			font-size: 18px;
			line-height: 1.3;
		}
		&__title {
			font-size: 30px;
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.clients-block {
		&__item-img {
			display: none;
			&_2x {
				display: inline;
			}
		}
	}
}