.desc-block {
	margin-bottom: 194px;

	&__title {
		color: #111;
		font-size: 55px;
		.light();
		margin-bottom: 40px;
	}
	&__text-wrap {
		padding-right: 35px;
		margin-bottom: 63px;
	}
	&__text {
		color: #111;
		font-size: 30px;
		.light();
		line-height: 1.4;
		margin-bottom: 41px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__list {

	}
	&__column {
		display: inline-block;
		vertical-align: top;
		width: calc(~"(100% - 175px * 2) / 3");
		margin-right: 175px - 4px;
		&:last-child {
			margin-right: -4px;
			margin-top: 23px + 72px;
		}
		&:first-child {
			text-align: right;
			margin-top: 73px;
		}
		&:nth-child(2) {
			text-align: center;
		}
	}
	&__item {
		display: block;
		margin-bottom: 80px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-icon {
		width: 36px;
		height: 24px;
		display: inline-block;
		position: relative;
		margin-bottom: 12px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&_panorama {
			&:after {
				.svg-icon(icon-panorama, 36px, 24px);
				margin-top: -12px;
				margin-left: -18px;
			}
		}
		&_metro {
			&:after {
				.svg-icon(icon-metro, 35px, 24px);
				margin-top: -12px;
				margin-left: -18px;
			}
		}
		&_creditcard {
			&:after {
				.svg-icon(icon-creditcard, 36px, 24px);
				margin-top: -12px;
				margin-left: -18px;
			}
		}
		&_time {
			&:after {
				.svg-icon(icon-time, 24px, 24px);
				margin-top: -12px;
				margin-left: -12px;
			}
		}
		&_maps {
			&:after {
				.svg-icon(icon-maps, 24px, 24px);
				margin-top: -12px;
				margin-left: -12px;
			}
		}
		&_wifi {
			&:after {
				.svg-icon(icon-wifi, 32px, 24px);
				margin-top: -12px;
				margin-left: -16px;
			}
		}
	}
	&__item-title {
		color: #222;
		.regular();
		font-size: 24px;
		margin-bottom: 7px;
	}
	&__item-desc {
		font-size: 16px;
		color: #111;
		.regular();
	}
	&__column-img {
		max-width: 100%;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.15);
	}

	&__image {
		padding-bottom: 52.7%;
		height: 0;
		position: relative;
	}
	&__image-inner {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url(../img/point.png) no-repeat center center;
		background-size: contain;
	}
}

@media screen and (max-width: 770px) {
	.desc-block {
		margin-bottom: 100px;
		&__title {
			font-size: 45px;
		}
		&__text {
			font-size: 26px;
		}
		&__list {

		}
	}
}

@media screen and (max-width: 500px) {
	.desc-block {
		margin-bottom: 40px;
		&__title {
			font-size: 30px;
		}
		&__text {
			font-size: 18px;
		}
	}
}